<div class="bg-body container-fluid bg-image text-center mh-100" style="background-image: url('./assets/images/bg.jpg'); background-size: cover;    background-repeat: no-repeat; height: 450px;">
    <div class="h-100 row align-items-center">
        <div class="col-md-12">
          <p class="fs-1 fw-bold">Her zaman güvenle, her zaman sizinle.</p>
        </div>
    </div>
  </div>

<div class="container text-center mt-5 mb-5">
    <div class="row">
        <div class="card col-md-3" >
            <div class="card-body">
                <img src="./assets/images/satinal.jpg" class="card-img-top" alt="...">
              <h3 class="card-title">Satın Al</h3>
              <p class="card-text">Ev almak istiyorsunuz fakat aramakla uğraşamıyor musunuz? Sitemizden güvenle alabileceğiniz evlerimize bakmanız için lütfen aşağıdaki linke tıklayınız.</p>
              <a routerLink="/products" href="#" class="card-link">Satın Al</a>
            </div>
      </div>
      <div class="col-md-1" style="height:1px;"></div>
      <div class="card col-md-4">
        <div class="card-body">
            <img src="./assets/images/satisyap.jpg" class="card-img-top" alt="...">
            <h3 class="card-title">Satış Yap</h3>
            <p class="card-text">Ev satacaksınız fakat uğraşmaya ve uygun müşteri bulmaya zamanınız yok mu? Sitemizden güvenle ve kolaylıkla evlerinizi satmanız için lütfen aşağıdaki linke tıklayınız.</p>
            <a routerLink="/sellorrenthouse"  href="#" class="card-link">Satış Yap</a>
          </div>
        </div>
        <div class="col-md-1" style="height:1px ;"></div>
        <div class="card col-md-3">
        <div class="card-body" >
            <img src="./assets/images/kirala.jpg" class="card-img-top" alt="...">
            <h3 class="card-title">Kiralık Ev Bul</h3>
            <p class="card-text">Kiralık ev aramakla uğraşmaya zamanınız yok mu? Sitemizden güvenle kiralayabileceğiniz evlerimize bakmanız için lütfen aşağıdaki linke tıklayınız.</p>
            <a routerLink="/products" href="#" class="card-link">Kiralık Ev Bul</a>
          </div>
        </div>
    </div>
</div>
