<div class="container mb-5">
  <div class="row">
      <div class="col-md-12"><p class="text-center fs-2 pt-5">Ürününüzü değiştirirken</p></div>
  </div>
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
<form>
  <div class="modal-content">
    <div class="bg-dark text-white text-center">
      <h4 class="py-3">{{product.productName}} isimli ürünü değiştirin.</h4>
    </div>
    <input id="10" style="display: none;" value="{{product.productName}}">
    <div class="modal-body">
      <div class="form-group">
        <label>Ürün Adı*</label>
        <input type="text" value="{{product.productName}}" class="form-control" #prName>
        <label>Açıklama*</label>
        <input type="text" value="{{product.description}}" class="form-control" #description>
        <label>Fiyat*</label>
        <input type="text" value="{{product.price}}" class="form-control" #price>
        <label>Satılık mı Kiralık mı?*</label>
        <select class="form-select form-select-lg mb-3"  #houseType>
        <option *ngFor="let houseType of houseTypes" [ngValue]="houseType.name">
          {{ houseType.name }}
        </option>
        </select>
        <label>Konut Tipi*</label>
        <select class="form-select form-select-lg mb-3"  #productType>
          <option *ngFor="let productType of productTypes" [ngValue]="productType.name">
            {{ productType.name }}
          </option>
        </select>
        <label>m^2*</label>
        <input type="number" value="{{product.houseSize}}" class="form-control" #houseSize>
        <label>Oda Sayısı*</label>
        <input type="number" value="{{product.howManyRoom}}" class="form-control" #howManyRoom>
        <label>Kaçıncı Katta*</label>
        <input type="number" value="{{product.houseFloor}}" class="form-control" #houseFloor>
        <label>Ev Yaşı*</label>
        <input type="number" value="{{product.houseAge}}" class="form-control" #houseAge>
        <label>Adres*</label>
        <input type="text" value="{{product.adress}}" class="form-control" #adress>
      </div>

    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-outline-dark mt-3" value="Değiştir" (click)="Change(prName.value, description.value, price.value, houseType.value, productType.value, houseSize.valueAsNumber, howManyRoom.valueAsNumber, houseFloor.valueAsNumber, houseAge.value, adress.value)">
      <input type="submit" class="btn btn-outline-danger mt-3" value="Sil" (click)="Delete()">
    </div>
  </div>

</form>
</div>
  </div>
</div>
<div id="filler" style="height:300px;"></div>
