<div class="container mb-5">
  <div class="row">
      <div class="col-md-12"><p class="text-center fs-2 pt-5">Hızlı, güvenli ve kolay bir şekilde sitemize kayıt olabilirsiniz.</p></div>
  </div>
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
<form [formGroup]="form" (ngSubmit)="RegisterProduct()">
  <div class="modal-content">
    <div class="bg-dark text-white text-center">
      <h4 class="py-3">Ev Kayıt Et</h4>
    </div>
    <div class="modal-body">
    <div class="mb-3">
      <label for="formFile" class="form-label">Resim Yükle</label>
      <input class="form-control" type="file" id="formFile" (change)="selectFile($event)">
      <button type="button" class="btn btn-outline-dark mt-3" [disabled] = "!selectedFiles" (click)="uploadFile()">Resmi Yükle</button>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar progress-bar-info"
          role="progressbar" attr.aria-valuenow="{{percentage}}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
          {{percentage}}%
      </div>
  </div>
      <div class="form-group">
        <label>Ürün Adı*</label>
        <input type="text" class="form-control" formControlName="productName">
        <label>Açıklama*</label>
        <input type="text" class="form-control" formControlName="description">
        <label>Fiyat*</label>
        <input type="number" class="form-control" formControlName="price">
        <label>Satılık mı Kiralık mı?*</label>
        <select class="form-select form-select-lg mb-3" formControlName="houseTypeId">
        <option *ngFor="let houseType of houseTypes" [ngValue]="houseType.id">
          {{ houseType.name }}
        </option>
        </select>
        <label>Konut Tipi*</label>
        <select class="form-select form-select-lg mb-3" formControlName="productTypeId">
          <option *ngFor="let productType of productTypes" [ngValue]="productType.name">
            {{ productType.name }}
          </option>
        </select>
        <label>m^2*</label>
        <input type="number" class="form-control" formControlName="houseSize">
        <label>Oda Sayısı*</label>
        <input type="number" class="form-control" formControlName="howManyRoom">
        <label>Kaçıncı Katta*</label>
        <input type="number" class="form-control" formControlName="houseFloor">
        <label>Ev Yaşı*</label>
        <input type="number" class="form-control" formControlName="houseAge">
        <label>Adres*</label>
        <input type="text" class="form-control" formControlName="adress">
        <label class="text-danger">* ile işaretlenmiş alanlar doldurulması zorunludur.</label>
      </div>

    </div>
    <div class="modal-footer">

      <input type="submit" class="btn btn-outline-dark mt-3" [disabled]="!selectedFiles" [disabled]="!form.valid" value="Kayıt Et">
    </div>
  </div>

</form>
</div>
  </div>
</div>
<div id="filler" style="height:300px;"></div>
